/* Old Feedly begin */

#feedlyPage .entryBody img {
  max-width: 100px !important;
  float: right;
  height: auto !important;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  transition: max-width 0.5s;
  transition-timing-function: ease;
}
#feedlyPage .entryBody img:hover {
  max-width: 800px !important;
}
#feedlyPage .entryBody {
  font-size: 14px !important;
  line-height: 18px !important;
}
#feedlyPage .entryBody td {
  font-size: 14px !important;
  line-height: 18px !important;
}
#feedlyPage .entryBody p {
  margin-top: 14px !important;
  margin-bottom: 14px !important;
}
#feedlyPage .websiteCallForAction {
  display: none !important;
  margin-top: 14px !important;
}
#feedlyPage .entryholder {
  padding-bottom: 0 !important;
}
#feedlyPage .shareBarHolder {
  display: none;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
#feedlyPage .headerInfo-article {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
#feedlyPage .entryTitle {
  font-size: 14px !important;
  line-height: 18px !important;
}
#feedlyPage .title {
  font-size: 18px !important;
  line-height: 24px !important;
}

/* Old Feedly end */

/* New Feedly begin */

#feedlyFrame .entryBody img {
  max-width: 100px !important;
  float: right;
  height: auto !important;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  transition: max-width 0.5s;
  transition-timing-function: ease;
}
#feedlyFrame .entryBody img:hover {
  max-width: 800px !important;
}
#feedlyFrame .visitWebsiteButton {
  display: none !important;
}
#feedlyFrame .entryholder {
  padding-bottom: 0 !important;
}
#feedlyFrame .shareBarHolder {
  display: none;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
#feedlyFrame .entryHeader .entryTitle {
  font-size: 18px !important;
  line-height: 24px !important;
}
#feedlyFrame .entry .title, #feedlyFrame .entry__title {
  font-size: 16px !important;
  line-height: 18px !important;
}
#feedlyFrame .entryBody {
  font-size: 16px !important;
  line-height: 22px !important;
}
#feedlyFrame .entryBody .content {
  font-size: 16px !important;
  line-height: 22px !important;
}
#feedlyFrame .entryBody p {
  margin-top: 14px !important;
  margin-bottom: 14px !important;
}
#feedlyFrame .inlineFrame {
  -webkit-transition-duration: 0 !important;
  transition-duration: 0 !important;
}
#feedlyFrame .u100Entry {
  max-width: 1000px !important;
}
#feedlyFrame .u100Entry .entryBody {
  max-width: 800px !important;
}

/* New Feedly end */
